/* Write your CSS here */
.app-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #171f46;
  margin: 15px;
  width: 350px;
  height: 100px;
  padding: 20px;
}
.app-title {
  font-weight: bold;
  font-size: 22px;
  color: #171f46;
  margin-bottom: 0;
}
.date-time {
  color: #b5b7c4;
}
.start-btn {
  background-color: transparent;
  border: none;
  align-self: flex-start;
}
@media (max-width: 768px) {
  .app-item {
    width: 100%;
    margin-left: 0;
  }
}
