/* Write your CSS here */
* {
  box-sizing: border-box;
}
.app-cont {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  font-family: roboto;
  background-image: linear-gradient(to bottom, #9796f0, #fbc7d4);
  overflow: auto;
}
.appiontment-card {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 85%;
  background-color: white;
  padding: 26px;
  border-radius: 10px;
  overflow: auto;
}
.hed {
  font-size: 28px;
  margin-top: 0;
}
.ppl-img {
  display: none;
}
.form-img-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
}
.title,
.daate {
  color: #b5b7c4;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 0;
}

.title-ip,
.date-ip {
  padding-left: 10px;
  outline: none;
  border: 1px solid #b5b7c4;
  border-radius: 3px;
  height: 34px;
  width: 280px;
  margin: 0;
  margin-bottom: 20px;
  font-family: roboto;
  color: #484749;
}
.form {
  display: flex;
  flex-direction: column;
}
.add-btn {
  color: white;
  background-color: #8454dd;
  border: none;
  border-radius: 5px;
  width: 70px;
  height: 25px;
}
.line-br {
  height: 3px;
  border: none;
  background-color: #b5b7c4;
  border-radius: 3px;
}
.bottom-hed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}
.appintment {
  font-size: 18px;
  font-weight: bold;
  color: #171f46;
}
.isImp {
  background-color: transparent;
  border: 1px solid #9897f0;
  color: #9897f0;
  font-weight: bold;
  border-radius: 5px;
  height: 25px;
  width: 100px;
  border-radius: 10px;
  padding-top: 2px;
}
.showImp {
  background-color: #9897f0;
  color: black;
}
.appointment-list {
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
}

@media (min-width: 768px) {
  .appiontment-card {
    width: 80%;
    padding: 45px;
  }
  .ppl-img {
    display: inline;
    height: 300px;
    align-self: center;
    margin: 20px;
  }
  .app-cont {
    align-items: center;
  }
  .form {
  }
  .appintment {
    font-size: 20px;
  }
  .app-cont {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    font-family: roboto;
    background-image: linear-gradient(to bottom, #9796f0, #fbc7d4);
    overflow: auto;
  }
  .appointment-list {
    display: flex;

    list-style-type: none;
    flex-wrap: wrap;
    padding: 0;
  }
}
